.friend{
    margin: 10px;
}
.friend img{
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0;
    padding: 0;
}

.friend p{
    margin: 0;
    padding: 0;
    text-align: center;
    color: white;
    font-weight: 700;
    font-size: 17px;
}
